*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Thoma, sans-serif;
	color: white;
	}
	
	footer {background-color: #358873;
		min-height: 50px;
		margin-top: auto;
	}
	
		/* Parte 1.14. da PRIMEIRA especificação */
	
	header {background-color:  #097969;
	
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		min-height:80px; 
	
	}
	
	body {
		background-color: #242424;
		height: 100vh;
		display:flex;
		flex-direction:column;
		overflow-x: hidden;
		} 
	
		/* Parte 1.16. da PRIMEIRA especificação */
	
	ul,li {
	
		list-style: none;
		font-size: 1.2rem;
	}
	
		/* Parte 1.17. da PRIMEIRA especificação */
	
	a{
		text-decoration: none;
		color: white;
	}
	
	.menu{
		display: flex;
	}
	.menu li{
		margin-left:20px;
	}
	.menu li a{
		padding: 5 px;
	}
	
		/* Parte 1.16. da PRIMEIRA especificação */
	div {
		display: flex;
		justify-content: center;
	}
	 
	#demo-carousel-indicators{
		margin-top: 40px;
		height: 500px;
		width: 2000px;

	}
	
	/* TEXT-ALIGN */
	h1, h2, h4, h5, h6 {
		font-family: 'Merriweather', serif;
		text-align: center;
	}
	
	h3 {
		font-family: 'Merriweather', serif;
		width: 700px; 
		margin-left: auto;
		margin-right: auto; 
		text-align: center;
		color:white;
	}
		
	p {
		width: 700px; 
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
	}

	.centerp {
		width: 700px; 
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.manifesto {
		width: 1200px; 
		margin-left: auto;
		margin-right: auto;
		text-align: justify;

	}
	
	/* imagem do Borba Gato */
	img.borba {
		object-fit: cover;  
		width: 420px;
		height: 300px;
	}

	img.chile {
		object-fit: cover;  
		width: 700px;
		height: 500px;
	}
	
	table {
		margin-left: auto;
		margin-right: auto;
	}

	.btnSubmit{
		text-align: center;
	}

	#dropdownMenuButton1{
		background-color: #097969;
	}

	#treeimg{
		max-width: 30px;
		max-height: 30px;
	}

	.footer{
		text-align: center;
	}

	